*
{
    transition: 0.5s all ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.rotedImg{
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
header .logo{
    position: relative;
    max-width: 50px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 0 3rem;
    position: relative;
    --Color-Bg:#017143;
}
header ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto -0.5rem;
    width: 0;
    height: 2px;
    background-color: var(--Color-Bg);
    transition: all 0.5s ease-in-out;
}
header ul li:hover::after{
    width: 100%;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content.textbox{
    position:relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #333;
    font-size: 5rem;
    line-height: 1.8em;
    font-weight: 500;
}
.content .textbox h2 span{
    color: #017143;
    font-size: 1.5em;
    font-weight: 1000;
}
.content .textbox p{
    color: #333;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 6px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgbox{
display: flex;
justify-content: flex-end;
height: 70vh;
}
.content .imgbox img{
    filter: drop-shadow(0.3rem 0.3rem 0.5rem #00000077);

}
.thumb{
    position:absolute;
    left:50%;
    bottom:20px;
    transform: translate(-50%);
    display: flex;
}
.img-star img{
    height: 100px;
    filter: drop-shadow(10px 10px 6px #00000077);
}
.selectImg{
    transform: translateY(-15px);
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.sci{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li{
    list-style: none;
    text-decoration: none;
}
.sci li a {
    display: inline-block;
    margin:5px 0;
    transform: scale(0.6);
}
.sci li i{
    font-size: 2.5rem;
    color: #fff;

}
.circle{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 900px);
}

